<div class="navigation-area">
	<div class="pmb-element">Pay My Buddy</div>	
	<div class="home-element" routerLink="/userprofile" routerLinkActive="active">Home</div>
	<div class="transfer-element" routerLink="/transaction" routerLinkActive="active">Transfer</div>
	<div class="profile-element" routerLink="/identification" routerLinkActive="active">Profile</div>
	<div class ="contact-element" routerLink="/friends" routerLinkActive="active">Contact</div>
	<div class="log-off-element" routerLink="/identification" routerLinkActive="active">Log-Off</div>
</div>